.ListPage {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ListPage > header > p {
  margin-top: 0.6rem;
}

.ListPage > section {
  margin-top: 1rem;
}

.ListPage pre {
  width: 30rem;
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  min-height: 4rem;
  max-height: 20rem;
  overflow-y: scroll;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.ListPage button {
  margin-top: 0.4rem;
}
