.Navbar {
  margin-bottom: 1rem;
}

.Navbar ul {
  display: inline-flex;
}

.Navbar li {
  margin-right: 0.5rem;
}

.Navbar li.active {
  padding-bottom: 0.25rem;
  border-bottom: 2px solid red;
}

.Navbar li:last-child() {
  margin-right: 0;
}
